.button {
    background-color: aquamarine;
    border-color: aquamarine;
    box-shadow: 2px;
    border-radius: 2px;
    margin-left: 5px;
    font-family: 'Trispace', sans-serif;
}

.select {
    background-color: aquamarine;
    border-color: aquamarine;
    box-shadow: 2px;
    border-radius: 2px;
    margin-left: 5px;
    font-family: 'Trispace', sans-serif;
}