html {
    position:relative;
    scroll-behavior: smooth;
    min-height: 100%;
    }

    body {
        background-color: #0A192F;
        max-width: 100%;
        
        padding:0;
        margin:0;
    }

    #banner {
        background-color: #0A192F;
        width: 100%;
        height: 100;
        top:0;
        margin-bottom:150;
        z-index:999;
    }

    ul#links li {
        display: inline;
    }

    ul#frameworks li {
        padding-left: 16px;
        color: #8892B0;
        font-family: 'Varta', sans-serif;
        font-size: 15;
    }

    ul#frameworks li::before {
        content: "↦";
        padding-right: 8px;
        color: aquamarine;
    }

    .button {
        border-radius: 5px;
        border: 2px solid aquamarine;
        background-color: transparent;
        padding: 15px 20px;
        font-size: 15;
        font-family: 'Inconsolata', monospace;
        font-weight: 400;
        transition: 1s;
        transition-timing-function: cubic-bezier(.5, .05, .55, 1);
        color: aquamarine !important;
    }

    .button:hover {
        background-color: #172943;
        transition: 1s;
        transition-timing-function: cubic-bezier(.1, .05, .2, 1);
    }

    .textSection {
        margin-left: 25%;
        margin-right: 25%;
    }


    .smallSerifGreen {
        color: aquamarine;
        font-size: 15;
        font-family: 'Inconsolata', monospace;
        font-weight: 400;
        line-height: 1.5;
    }

    .header{
        color: white;
        font-size: 30;
        font-family: 'Alata', sans-serif; 
        font-weight: 800;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    .projectBlock {
        box-shadow: 3px 4px #0d1827;
        border-radius: 4px; 
        display: inline-block;
        background: #172A45;
        width: 32%;
        padding: 20;
        word-wrap: break-word;
        margin-right: 2%;
    }

    .projectHeader {
        display: -moz-box;
        -moz-box-orient: center;
        -moz-box-align: center;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    .projectHeaderText {
        color: #DFDFDF;
        font-size: 25;
        font-weight: 800;
    }

    .flexSeperator {
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
    }

    .externalLinkProject {
        transform: translateY(-3px);
        width: 10%;
        height: auto;
        float: right;
    }

    .externalLinkProject:hover {
        cursor: pointer;
    }

    .externalLinkText {
        position: absolute;
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 4px;
        background: black;
        color: white;
        display: none;
        font-family: 'Varta', sans-serif;
        font-size: 15;
        z-index: 999;
        transform: translate(10px, -15px);
    } 

    .externalLinkProject:hover + .externalLinkText {
        display: block;
    }

    #arPopup {
        background-color:red;
        display: none;
        width: 100%;
        height: 20%;
    }

    #rvccPopup {
        background-color:yellow;
        display: none;
        width: 100%;
        height: 20%;
    }

    p {
        color: #8892B0;
        font-family: 'Varta', sans-serif;
        font-size: 20;
    }

    hr {
        display: inline-block;
        color:#8892B0;
        transform: translateY(5px);
        margin-left: 10;
        width: 100%;
    }

    a:link {
        color: #8892B0;
        text-decoration: none;
    }
    
    a:visited {
        color: #8892B0;
    }

    a:hover, a:focus {
        color: aquamarine;
        transition: 0.2s;
    }

    a:active {
        color:aquamarine;
    }